::before,
::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: #181818;
  color: white;
  font-family: fellix;
  /* overflow: hidden; */
}
nav {
  width: 100%;
  align-items: center;
}
.nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  padding: 10px 100px;
}
.logo {
  width: auto;
  height: 78px;
}
.navLinks {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
.login_button {
  height: 52px;
  width: 139px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}
.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main_content {
  display: flex;
  flex-direction: column;
}
.headline_cont {
  width: 729px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.headline {
  width: 729px;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  font-weight: 500;
}
p {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 20px;
}
.cta_buttons {
  padding-top: 20px;
  width: 377px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.cta_button1 {
  height: 52px;
  width: 139px;
  background-color: #4452fe;
  border: 1px solid #4452fe;
  color: white;
  border-radius: 3px;
  margin-right: 15px;
}
.cta_button2 {
  height: 52px;
  width: 139px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  margin-left: 15px;
}
.login_button:hover,
.cta_button2:hover {
  background-color: white;
  color: #4452fe;
  cursor: pointer;
}
.cta_button1:hover {
  background-color: #212ec2;
  border: 1px solid #212ec2;
  cursor: pointer;
}
.screen_images {
  width: 100%;
  background-size: contain;
  padding-top: 80px;
  z-index: 0;
}
.feature_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature_headline {
  padding-top: 200px;
  width: 605px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_headline {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}
.feature_lists_cont {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}
.feature_image_large {
}
.feature_image_sm {
  display: none;
}
.feature_list_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.list_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_img {
  width: auto;
}
.list_head {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 20px;
  width: 150px;
}
.list_text {
  padding-top: 1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.card_cont {
  padding-top: 20px;
  width: 985px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 476px;
  height: 624px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.card_content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  color: #181818;
}
.card_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 250px;
  color: #5c5c5c;
}
.card_button {
  height: 52px;
  width: 139px;
  background-color: #4452fe;
  border: 1px solid #4452fe;
  color: white;
  border-radius: 3px;
}
.card_img {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .nav_cont {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .navLinks {
    display: none;
  }
  .login_button {
    height: 42px;
    width: 109px;
  }
  .cta_buttons {
    flex-direction: column;
    align-items: center;
    height: 120px;
    justify-content: space-between;
  }
  .cta_button1,
  .cta_button2 {
    margin: 0%;
  }
  .headline_cont {
    align-items: center;
  }
  .headline {
    width: 40%;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
  }
  p {
    width: 40%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
  }
  .feature_lists_cont{
    flex-direction: column;
    align-items: center;
  }
  .feature_image_large{
    display: none;
  }
  .feature_image_sm{
    display: block;
  }
  .list{
    width: 260px;
  }
  .list_title{
    width: 260px;
  }
  .list_text{
    width: 260px;
  }
  .card_cont{
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin-bottom: 40px;
  }
}
