::before,
::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
  background: #181818;
  color: white;
  font-family: fellix;
  overflow-x: hidden;
}
nav {
  width: 100%;
  align-items: center;
}
.nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  padding: 10px 100px;
}
.logo {
  width: auto;
  height: 78px;
}
.navLinks {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
.login_button {
  height: 52px;
  width: 139px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}
.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main_content {
  display: flex;
  flex-direction: column;
}
.headline_cont {
  width: 729px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.headline {
  width: 729px;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  font-weight: 500;
}
p {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 20px;
}
.cta_buttons {
  padding-top: 20px;
  width: 377px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.cta_button1 {
  height: 52px;
  width: 139px;
  background-color: #4452fe;
  border: 1px solid #4452fe;
  color: white;
  border-radius: 3px;
  margin-right: 15px;
}
.cta_button2 {
  height: 52px;
  width: 139px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  margin-left: 15px;
}
.login_button:hover,
.cta_button2:hover {
  background-color: white;
  color: #4452fe;
  cursor: pointer;
}
.cta_button1:hover {
  background-color: #212ec2;
  border: 1px solid #212ec2;
  cursor: pointer;
}
.screen_images {
  width: 100%;
  background-size: contain;
  padding-top: 80px;
  z-index: 0;
}
.feature_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature_headline {
  padding-top: 200px;
  width: 605px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_headline {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}
.feature_lists_cont {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.feature_image_sm {
  display: none;
}
.feature_list_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  width: 330px;
}
.list_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_img {
  width: auto;
}
.list_head {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 20px;
  width: 150px;
}
.list_text {
  padding-top: 1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.card_cont {
  padding-top: 20px;
  width: 985px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 476px;
  /* height: 624px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.card_content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  color: #181818;
}
.card_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 250px;
  color: #5c5c5c;
}
.card_button {
  height: 52px;
  width: 139px;
  background-color: #4452fe;
  border: 1px solid #4452fe;
  color: white;
  border-radius: 3px;
}
.card_img {
  margin-top: 50px;
  width: 400px;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_row1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img_row1 img{
  border-radius: 12px;
  
}
.img_row2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.logo_row {
  width: 831px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 60px;
}
.logo_img {
  width: 60px;
  height: auto;
}
.logo1,
.logo2 {
  display: flex;
  width: 365px;
  flex-direction: row;
  justify-content: space-between;
}
.test_cont {
  width: 853px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}
.test_l {
  display: flex;
}
.test_r {
  margin-top: 20px;
  display: flex;
}
.test_r :nth-child(1) {
  margin-right: 20px;
}
.test_l :nth-child(1) {
  margin-right: 20px;
}
.test_card1 {
  background-color: inherit;
  width: 353px;
  border-radius: 4px;
  border: 1px solid #dedede6c;
  padding: 30px;
}
.test_header {
  display: flex;
  flex-direction: row;
}
.test_img {
  width: 50px;
  height: 50px;
}
.test_header_cont {
  width: 100%;
}
.test_header_title {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0%;
  text-align: left;
}
.test_body {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  padding-left: 0;
  text-align: left;
}

.test_card2 {
  margin-top: 20px;
  background-color: inherit;
  width: 353px;
  border-radius: 4px;
  border: 1px solid #dedede;
  padding: 30px;
}

.try_section {
  margin-top: 180px;
  /* padding: 180px 80px; */
}
.try_cont {
  display: flex;
  margin: auto;
  width: 1219px;
  background: #343434;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 33px;
  overflow: hidden;
}
.try_cont div {
  padding: 60px 0px 60px 71px;
}
.try_cont div h3 {
  width: 90%;
  font-style: normal;
  font-weight: 400;
  margin: 0%;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  padding-bottom: 30px;
}
.try_cont div button {
  width: 205px !important;
  height: 52px;
  width: 139px;
  background-color: #4452fe;
  border: 1px solid #4452fe;
  color: white;
  border-radius: 3px;
}
.try_cont img {
  width: 585px;
  height: 343px;
  background-size: contain;
}

.try_cont :nth-child(3) {
  display: none;
}

footer {
  margin-top: 200px;
  width: 80% !important;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  padding-top: 300px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.left_cont {
  display: flex;
 
}
.padding {
  padding: 0px 80px 0px 80px;
}

.footer_links {
  margin-top: 60px;
}
.footer_links p {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  padding: 0px;
}
.footer_links2 div {
  display: flex;
  align-items: center;
}
.footer_links2 div :nth-child(2) {
  padding-top: 10px;
}
.footer_links2 div img {
  width: 46px;
  height: 46px;
}
.footer_links2 div p {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  padding: 0px 0px 0px 20px;
  align-items: center;
}
.socials {
  margin-top: 30px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .nav_cont {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .navLinks {
    display: none;
  }
  .login_button {
    height: 42px;
    width: 109px;
  }
  .cta_buttons {
    flex-direction: column;
    align-items: center;
    height: 120px;
    justify-content: space-between;
  }
  .cta_button1,
  .cta_button2 {
    margin: 0%;
  }
  .headline_cont {
    align-items: center;
    width: 100%;
  }
  .headline {
    width: 70%;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
  }
  p {
    width: 70%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
  }
  .section_headline {
    font-size: 35px;
  }
  .feature_headline {
    width: 100%;
  }
  .feature_lists_cont {
    flex-direction: column;
    align-items: center;
  }
  .feature_image_large {
    display: none;
  }
  .feature_image_sm {
    display: block;
    width: 90%;
  }
  .list {
    width: 260px;
  }
  .list_title {
    width: 260px;
  }
  .list_text {
    width: 260px;
  }
  .card_cont {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 40px;
    width: 308px;
    height: 572px;
  }
  .card_cont {
    width: 100%;
  }
  .card_img {
    width: 250px;
  }
  .img_row1 {
    width: 308px;
    display: flex;
    flex-direction: column;

  }
.img_row1 img{
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 50px;
}

  .img_row2 {
    display: none;
  }
  .gallery_img {
    width: 329px;
  }
  .logo_row {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .logo1 {
    padding-bottom: 30px;
    width: 80%;
  }
  .logo2 {
    width: 292px;
  }
  .test_cont {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .test_card1 {
    width: 80%;
  }
  .test_r {
    width: 60%;
    flex-direction: column;
    align-items: center;
  }
  .test_body {
    width: 323px;
  }
  .test_l {
    width: 60%;
    flex-direction: column;
    align-items: center;
  }
  .test_l :nth-child(1) {
    margin-right: 0%;
    margin-bottom: 20px;
  }
  .test_r :nth-child(1) {
    margin-right: 0%;
    margin-bottom: 20px;
  }
  .test_header_cont :nth-child(1) {
    margin-bottom: 0px;
  }
  .try_cont {
    flex-direction: column;
    background: inherit;
    align-items: center;
    box-shadow: none;
    width: 80% !important;
  }

  .try_cont div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    align-items: center;
  }
  .try_cont div h3 {
    width: 80%;
    text-align: center;
    line-height: 50px;
  }
  .try_img_sm {
    display: none;
  }
  .try_cont :nth-child(3) {
    display: block;
    margin-top: 50px;
  }
  footer {
    flex-direction: column;
    
    align-items: left;
    margin-top: 50px;
    padding-top: 0;
  }
  .left_cont {
    flex-direction: column;
  }

  .padding {
    padding: 30px 0px 30px 0px;
  }
  .footer_links {
    margin-top: 10px;
  }
  .right_cont {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 425px) {
  .test_card1 {
    width: 80% !important;
  }
  .test_body {
    width: 90%;
  }
  .test_l {
    width: 80%;
  }
  .test_r {
    width: 80%;
  }
  .try_cont div h3 {
    width: 100%;
  }
}
@media only screen and (max-width: 381px) {
  .test_card1 {
    width: 70%;
  }
  .test_body {
    width: 90%;
  }
}

@media only screen and (max-width: 1258px) {
  .test_card1 {
    width: 70%;
  }
  .test_body {
    width: 90%;
  }
  .try_cont {
    width: 800px;
  }
  .try_cont div h3 {
    font-size: 32px;
  }
  .try_cont img {
    width: 400px;
  }
}

@media only screen and (max-width: 1042px) {
  footer {
    width: 90%;
  }
}
